*{
    margin: 0;
    padding: 0;
}
ul,li{
    list-style: none;
}
.down{
    position: fixed;
    bottom: 2%;
    left: 50%;
    margin-left: -0.3rem;
    width: 0.6rem;
    height: 0.6rem;
    border-top: 2px solid white;
    border-left: 2px solid white;
    animation: move 1s 0.8s infinite ease;
}
@keyframes move {
    0%{
        opacity: 0;
        transform: scale(0) rotate(45deg);
    }

    50%{
        opacity: 0.5;
        transform: scale(0.5) rotate(45deg)
    }
    100%{
        opacity: 1;
        transform: scale(1) rotate(45deg);
    }

}
.s1{
    font-size: 0.8rem;
    color: #FFFFFF;
    text-align: center;
    padding-top: 35%;
}
.s1>p:nth-child(even){
    transform: translate(200%) rotateZ(660deg);
    transition: 1s 0.8s;
}
.s1>p:nth-child(odd){
    transform: translate(-200%) rotateZ(-660deg);
    transition: 1.2s 0.8s;
}
.s1.active p{
    transform: translate(0) rotateZ(0deg);
}